form action="/login" method="post"
  input type="text" name="firstname" placeholder="Plz enter firstname"/
  input type="text" name="lastname" placeholder="Plz enter surname"/
  input type="submit" value="submit"